.order_container{

}
.order_box{
    border: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    text-align: end;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    margin: 20px 0;
}
.product_image{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid #e1e1e1;
}